    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/puzzle_stamp_rgb.png" alt="">
                    <div class="intro-text">
                        <span class="name">Damians Open Source Advents Challenge 2016</span>
                        <hr class="star-light">
                        <span class="skills">Wer schafft es im Advent jeden Tag einen Beitrag zu einem Open Source Projekt zu leisten?</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
